# 1. 문자열 메소드 활용하기

## 1.1 변형

### `.capitalize()`, `.title()`, `.upper()`

`.capitalize()` : 가장 앞글자를 대문자로 만들어 반환합니다.

`.title()` : 어포스트로피나 공백 이후를 대문자로 만들어 반환합니다.

`.upper()` : 모두 대문자로 만들어 반환합니다.

In [2]:
words = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.

In [3]:
words.capitalize()

"Hi! everyone, i'm kim"

In [5]:
words.title()

"Hi! Everyone, I'M Kim"

In [6]:
words.upper()

"HI! EVERYONE, I'M KIM"

In [7]:
result = words.upper()
print(result)

HI! EVERYONE, I'M KIM

### `.lower()`, `.swapcase()`

`.lower()` : 모두 소문자로 만들어 반환합니다.

`.swapcase()` : 대 ↔ 소문자로 변경하여 반환합니다.

In [18]:
words = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.

In [17]:
words.lower()

"hi! everyone, i'm kim"

In [19]:
words.swapcase()

"Hi! eVERYONE, i'M KIM"

### `.join(iterable)`

Iterable한 객체를 해당 문자열의 separator 로 합쳐서 문자열로 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [24]:
'!'.join('가가가')

'가!가!가'

In [ ]:
# 이렇게도 사용할 수 있겠죠?

In [33]:
words = ['hi','hello']
''.join(words)

words = '1,2,3,4,5,6,7,8,9'
words = words.split(',')


words = ':'.join(words)
words

'1:2:3:4:5:6:7:8:9'

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 개수 만큼만 시행합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [37]:
'yay!'.replace('y','_',1)

'_ay!'

In [38]:
'abcdefggg'.replace('ggg','ghi')

'abcdefghi'

In [39]:
'woooowoo'.replace('o','',2)

'woowoo'

In [40]:
'Hi! Justin'.replace('s','',1)

'Hi! Jutin'

### 글씨 제거 (`strip([chars])`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip) 오른쪽을 제거합니다(rstrip)

지정하지 않으면 공백을 제거합니다.

In [ ]:
# 아래에 코드를 작성하세요.(공백제거)

In [41]:
'     oh!\n     '.strip()

'oh!'

In [ ]:
# 아래에 코드를 작성하세요.(단어제거)

In [42]:
'     oh!\n     '.lstrip()

'oh!\n     '

In [43]:
'     oh!\n     '.rstrip()

'     oh!'

In [44]:
'hihihihihihihihihhiihhihi'.strip('hi')

''

In [45]:
'hihihihihihihihihehehiihhihi'.strip('hi')

'ehe'

In [47]:
'hihihihihihihihihehehiihhihi'.lstrip('hi')

'ehehiihhihi'

In [48]:
'hihihihihihihihihehehiihhihi'.rstrip('hi')

'hihihihihihihihihehe'

## 1.2 탐색 및 검증

### `.find(x)` : x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [50]:
'apple'.find('l')

3

In [52]:
'apple'.find('f')

-1

### `.index(x)` : x의 첫번째 위치를 반환합니다. 없으면, 오류가 발생합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [57]:
'apple'.index('l')

3

In [58]:
'apple'.index('f')

ValueError: substring not found

## `.split()`

- 괄호 안에 특정 값이 있으면 그 값을 구분자로 해서 문자열을 나눠 리스트로 반환합니다.
- 괄호 안에 아무 값도 넣어주지 않으면 공백(스페이스, 탭, enter)를 기준으로 문자열을 나눠 리스트로 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [5]:
a=','.join('abc')
a.split(',')

['a', 'b', 'c']

In [3]:
'abc'.split('b')

['a', 'c']

In [60]:
'abc def'.split()
'hello SSAFY'.split()

['hello', 'SSAFY']

In [61]:
'a_B_c'.split('_')

['a', 'B', 'c']

In [62]:
words = input().split()
print(words)

hihihi SSAFY hihi
['hihihi', 'SSAFY', 'hihi']

## 1.3 다양한 확인 메소드 : 참/거짓 반환
```
.isaplha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .isuper(), .istitle(), .islower()
```

```python
dir('string')
```

In [65]:
dir('string')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [68]:
a = 'hihihihijustin'
b = 'hi! justin'
c = '한글'
print(a.isalpha())
print(b.isalpha())
print(c.isalpha())

True
False
True

In [70]:
a = 'Hi, My name is Justin!'
a.islower()

b = 'hi, my name is dohun'
b.islower()

True

In [73]:
a = 'Hi!, My name is Dohun'
b = "HI, MY NAME IS DOHUN"
print(a.isupper())
print(b.isupper())

False
True

In [76]:
a = 'Hello, World'
b = 'Hello, world'
print(a.istitle())
print(b.title())
print(b.istitle())

True
Hello, World
False

# 2. 리스트 메소드 활용하기

## 2.1 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [96]:
# 카페 리스트를 만들어봅시다.
caffe = ['starbucks', 'tomntoms', 'hollys']
print(caffe)

['starbucks', 'tomntoms', 'hollys']

In [ ]:
# 값을 추가해봅시다.

In [89]:
caffe.append('caffebene')
print(caffe)

['starbucks', 'tomntoms', 'hollys', 'caffebene']

In [ ]:
# 어렵게 넣어보도록 해봅시다.

In [90]:
caffe[len(caffe):]=['ediya']
print(caffe[len(caffe):])
print(caffe)

[]
['starbucks', 'tomntoms', 'hollys', 'caffebene', 'ediya']

### `.extend(iterable)`

- 리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

    - `iterable` 은 각각의 요소를 하나씩 반환할 수 있는 객체를 말한다. List와 Tuple, Dictionary와 Set 등이 여기 속합니다. for문을 돌렸을 때 하나씩 튀어나오는 친구들!

In [ ]:
# 앞서 만든 리스트에 추가해봅시다.

In [91]:
caffe.extend(['droptop','빽다방'])
print(caffe)

['starbucks', 'tomntoms', 'hollys', 'caffebene', 'ediya', 'droptop', '빽다방']

In [ ]:
# 앞서 배운 list concatenate와 동일합니다.

In [95]:
caffe += ['mccafe','burgerking']
print(caffe)

['starbucks', 'tomntoms', 'hollys', 'caffebene', 'ediya', 'droptop', '빽다방', 'mccafe', 'burgerking', ['coffenie'], ['coffenie'], 'coffeingurunaru', 'mccafe', 'burgerking']

In [ ]:
# append와 비교해봅시다.

In [ ]:
# .append vs .extend

In [97]:
#.append
caffe.append(['coffenie'])
print(caffe)

#.extend
caffe.extend(['coffeingurunaru'])
print(caffe)

['starbucks', 'tomntoms', 'hollys', ['coffenie']]
['starbucks', 'tomntoms', 'hollys', ['coffenie'], 'coffeingurunaru']

In [99]:
L = [1, 2, 3]
L = L + [4] # 새로운 리스트를 만드는놈
L.append(4) # 기존 리스트에 추가하는방식~
print(L)

[1, 2, 3, 4, 4]

### `.insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [ ]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.

In [100]:
caffe.insert(0, 'hi')
print(caffe)

['hi', 'starbucks', 'tomntoms', 'hollys', ['coffenie'], 'coffeingurunaru']

In [103]:
caffe.insert(len(caffe), 'bye')
print(caffe)

['hi', 'starbucks', 'tomntoms', 'hollys', ['coffenie'], 'coffeingurunaru', 'bye']

In [ ]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다

In [ ]:
# 길이를 넘어서는 인덱스는 무조건 마지막 붙습니다!

In [104]:
caffe.insert(len(caffe)+5, '!!!!')
print(caffe)

['hi', 'starbucks', 'tomntoms', 'hollys', ['coffenie'], 'coffeingurunaru', 'bye', '!!!!']

In [106]:
samples = [1,2,3,4,5]
samples.insert(5,7)
print(samples)

[1, 2, 3, 4, 5, 7]

### `.remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [113]:
# remove를 사용해봅시다.
numbers = [1, 2, 3, 1, 2]
print(numbers)

[1, 2, 3, 1, 2]

In [ ]:
# 중복된 값 1을 삭제 해봅시다.

In [114]:
numbers.remove(1)
print(numbers)

[2, 3, 1, 2]

In [ ]:
# 한번 더 삭제해봅시다.

In [115]:
numbers.remove(1)
print(numbers)

[2, 3, 2]

In [ ]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.

In [116]:
numbers.remove(1)
print(numbers)

ValueError: list.remove(x): x not in list

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [127]:
# pop을 사용해봅시다.
numbers = [1, 2, 3, 4, 5, 6]

In [ ]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.

In [128]:
print(numbers.pop(0))
print(numbers)
print(numbers.pop())
print(numbers)

1
[2, 3, 4, 5, 6]
6
[2, 3, 4, 5]

In [130]:
numbers = [1,2,3]
delete_value = numbers.pop()
print('{}(이)가 삭제되어 {}가 되었습니다.'.format(delete_value,numbers))

3(이)가 삭제되어 [1, 2]가 되었습니다.

In [ ]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다.

## 2.2 탐색 및 정렬

### `.index(x)`

x 값을 찾아 해당 index 값을 반환합니다.

In [131]:
# index를 사용해봅시다.
numbers = [1, 2, 3, 4, 5]

In [ ]:
# index는 없을 시 오류가 발생합니다. 확인해봅시다. 
# 앞서 remove 역시도 같은 에러가 발생하였습니다. (ValueError)

In [132]:
numbers.index(3)

2

In [133]:
numbers.index(100)

ValueError: 100 is not in list

### `.count(x)`

원하는 값의 개수를 확인할 수 있습니다.

In [134]:
# count를 사용해봅시다.
numbers = [1, 2, 5, 1, 5, 1]

In [135]:
numbers.count(1)

3

In [ ]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.

In [136]:
numbers = [1,2,1,3,4]
target_number = 1

for i in range(numbers.count(target_number)):
    numbers.remove(target_number)

In [ ]:
# 모두 삭제되었는지 검증해봅시다.

In [137]:
target_number in numbers

False

### `.sort()`

정렬을 합니다. 

`sorted()`와는 다르게 원본 list를 변형시키고, None을 리턴합니다.

In [138]:
import random
lotto = random.sample(range(1, 46), 6)
print(lotto)

[3, 26, 23, 34, 35, 31]

In [ ]:
# sort를 사용해봅시다.

In [140]:
lotto_result = lotto.sort()
print(lotto_result) # return 값
print(lotto) # 원본
# sort는 원본이 바뀐다~

None
[3, 23, 26, 31, 34, 35]

In [143]:
lotto.sort(reverse=True)
print(lotto)

[35, 34, 31, 26, 23, 3]

In [ ]:
# sorted를 사용해봅시다.

In [142]:
numbers = [2,5,4,1,7,5]
result = sorted(numbers)
print(result) # return 값
print(numbers) #
# sorted는 원본은 유지 리턴값이 바뀌는거~

[1, 2, 4, 5, 5, 7]
[2, 5, 4, 1, 7, 5]

### `.reverse()`

반대로 뒤집습니다. (정렬 아님)

In [144]:
classroom = ['Tom', 'David', 'Justin']
print(classroom)

['Tom', 'David', 'Justin']

In [145]:
classroom.reverse()
print(classroom)

['Justin', 'David', 'Tom']

In [151]:
# .reverse()  -> 원본을 바꾼다.
numbers = [1,2,3]
result=numbers.reverse()
print(numbers)
print(result)

# reversed()
numbers = [1,2,3]
result2 = reversed(numbers)
print(list(result2))
print(numbers)

[3, 2, 1]
None
[3, 2, 1]
[1, 2, 3]

In [153]:
# slicing 실습
words = ['T', 'h', 'e', '', 'A', 'v', 'e', 'n', 'g', 'e', 'r', 's']
#words[0:2]

['T', 'h']

In [155]:
words[0:4]

['T', 'h', 'e', '']

In [156]:
words[0:11]

['T', 'h', 'e', '', 'A', 'v', 'e', 'n', 'g', 'e', 'r']

In [158]:
words[-8:-1]

['A', 'v', 'e', 'n', 'g', 'e', 'r']

In [159]:
words[-12:-9]

['T', 'h', 'e']

## 2.3 복사

In [164]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]

In [166]:
copied_list = original_list
print(copied_list)

[1, 2, 3]

In [ ]:
# b의 값을 바꾸고 a를 출력해봅시다.

In [167]:
copied_list[0] = 5
print(copied_list)
print(original_list)

[5, 2, 3]
[5, 2, 3]

In [ ]:
# id 값을 확인해봅시다.

In [168]:
print(id(copied_list) == id(original_list))
print(copied_list is original_list)

True
True

In [ ]:
# 숫자를 확인해봅시다.

In [169]:
a = 20005
b = a
b = 30005
print(a)
print(b)

20005
30005

In [ ]:
# 문자를 확인해봅시다.

In [170]:
word_a = 'hihi'
word_b = word_a
word_b = 'bye'
print(word_a)
print(word_b)

hihi
bye

In [ ]:
# 딕셔너리도 확인해봅시다.

In [171]:
lunch = {'김밥천국': '치즈라면', '김가네':'제육볶음'}
print(lunch)
dinner = lunch
dinner['김밥천국'] = '참치라면'
print(lunch)
print(dinner)

{'김밥천국': '치즈라면', '김가네': '제육볶음'}
{'김밥천국': '참치라면', '김가네': '제육볶음'}
{'김밥천국': '참치라면', '김가네': '제육볶음'}

### copy
> [pythontutor](http://pythontutor.com/visualize.html#code=lunch%20%3D%20%7B'%EA%B9%80%EB%B0%A5%EC%B2%9C%EA%B5%AD'%3A%20'%EC%B9%98%EC%A6%88%EB%9D%BC%EB%A9%B4',%20'%EA%B9%80%EA%B0%80%EB%84%A4'%3A%20'%EC%A0%9C%EC%9C%A1%EB%B3%B6%EC%9D%8C'%7D%0Aprint%28lunch%29%0Adinner%20%3D%20lunch%0Adinner%5B'%EA%B9%80%EB%B0%A5%EC%B2%9C%EA%B5%AD'%5D%20%3D%20'%EC%B0%B8%EC%B9%98%EA%B9%80%EB%B0%A5'%0Aprint%28lunch%29&cumulative=false&curInstr=0&heapPrimitives=nevernest&mode=display&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false)를 활용하여 자세하게 알아봅시다.

* 파이썬에서 모든 변수는 객체의 주소를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 num이라는 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.

* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야한다.

In [ ]:
# 아래에 작성하세요.

In [ ]:
# 리스트를 복사해봅시다.

In [172]:
a = [1, 2, 3]

b = a
b[0] = 5
print(a)
print(b)

[5, 2, 3]
[5, 2, 3]

In [173]:
a = [1, 2, 3]

b = a[:] # 슬라이싱해서 새로운 리스트가 만들어졌기 때문에! 
b[0] = 5
print(a)
print(b)

[1, 2, 3]
[5, 2, 3]

In [ ]:
# 다른 방법으로 복사해봅시다.

In [175]:
a = [1, 2, 3]
print(a)
b = list(a)

b[0] = 5

print(a)
print(b)

[1, 2, 3]
[1, 2, 3]
[5, 2, 3]

In [ ]:
# 이런 방법도 있어요

In [176]:
a = [1, 2, 3]
b = a.copy()
b[0] = 5
print(a)
print(b)

[1, 2, 3]
[5, 2, 3]

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 다른 얕은 복사(shallow copy)입니다.

In [ ]:
# 2차원 배열을 복사해봅시다.

In [177]:
a= [1, 2, [1, 2]]
b = a[:]
b[2][0] = 3

print(a)
print(b)

[1, 2, [3, 2]]
[1, 2, [3, 2]]

* 만일 중첩된 상황에서 복사를 하고 싶다면, 깊은 복사(deep copy)를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [ ]:
# 깊은 복사를 사용해봅시다.

In [181]:
import copy
a = [1, 2, [1, 2]]
b = copy.deepcopy(a)
b[2][0] =3
print(a)
print(b)

[1, 2, [1, 2]]
[1, 2, [3, 2]]

## `.clear()`

리스트의 모든 항목을 삭제합니다.

In [ ]:
# clear를 사용해봅시다.

# 3. List Comprehension

- List를 만들 수 있는 간단한 방법이 있습니다.

- `[표현식 for 요소 in sequence if 조건식 ]`

### 세제곱리스트

> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [191]:
numbers = range(1, 11)

In [ ]:
# 기존의방법

In [185]:
cubic = list(map(lambda x: x**3, numbers))
print(cubic)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [188]:
cubic2 = []
for i in numbers:
    i = i**3
    cubic2.append(i)
print(cubic2)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
# List Comprehension

In [193]:
cubic_list = [number**3 for number in numbers]
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

### 짝수리스트
> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [194]:
numbers = range(1, 11)

In [ ]:
# 기존의방법

In [197]:
even_list = []
for i in numbers:
    if i % 2 == 0 :
        even_list.append(i)
print(even_list)

[2, 4, 6, 8, 10]

In [ ]:
# List Comprehension

In [200]:
even_list2 = [number for number in numbers if number % 2 ==0]
print(even_list2)

[2, 4, 6, 8, 10]

### 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [201]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [ ]:
# 반복문을 활용하여 만들어주세요.

In [218]:
pair =[]
for i in girls:
    for j in boys:
        pair.append((i,j))
print(pair)

[('jane', 'justin'), ('jane', 'david'), ('jane', 'kim'), ('iu', 'justin'), ('iu', 'david'), ('iu', 'kim'), ('mary', 'justin'), ('mary', 'david'), ('mary', 'kim')]

In [ ]:
# List comprehension을 활용하여 만들어주세요.

In [219]:
pair2 = [(boy,girl) for boy in boys for girl in girls]
print(pair2)

[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [ ]:
# 반복문을 활용하여 만들어주세요.

In [229]:
a = []
for z in range(1,50):
    #if z>y:
        for y in range(1,50):
     #       if y>x:
                for x in range(1,50):
                    if z**2 == x**2 + y**2 and x<y<z:
                        a.append((x,y,z))
print(a)

[(3, 4, 5), (6, 8, 10), (5, 12, 13), (9, 12, 15), (8, 15, 17), (12, 16, 20), (15, 20, 25), (7, 24, 25), (10, 24, 26), (20, 21, 29), (18, 24, 30), (16, 30, 34), (21, 28, 35), (12, 35, 37), (15, 36, 39), (24, 32, 40), (9, 40, 41), (27, 36, 45)]

In [ ]:
# List comprehension을 활용하여 만들어주세요.

In [232]:
a = [(x,y,z) for z in range(1,50) for y in range(1,50) for x in range(1,50) if z**2==x**2+y**2 and x<y<z]
print(a)

[(3, 4, 5), (6, 8, 10), (5, 12, 13), (9, 12, 15), (8, 15, 17), (12, 16, 20), (15, 20, 25), (7, 24, 25), (10, 24, 26), (20, 21, 29), (18, 24, 30), (16, 30, 34), (21, 28, 35), (12, 35, 37), (15, 36, 39), (24, 32, 40), (9, 40, 41), (27, 36, 45)]

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

``` 
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [ ]:
# List comprehension을 활용하여 만들어주세요.

In [245]:
moum = ['a','e','i','o','u']

words = 'Life is too short, you need python!'
b= [word for word in words if word not in moum]
print(''.join(b))

Lf s t shrt, y nd pythn!

In [251]:
c = 'aeiou'
for i in words:
    if i not in c:
        print(i, end='')

Lf s t shrt, y nd pythn!

# 4. 딕셔너리 메소드 활용

## 4.1 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [261]:
# pop을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나'}

In [262]:
result = my_dict.pop('apple')
print(result)
print(my_dict)

사과
{'banana': '바나나'}

In [263]:
my_dict.pop('melon')

KeyError: 'melon'

In [ ]:
# 딕셔너리에 없으면 에러가 발생합니다

In [ ]:
# 두번째 인자로 default를 설정할 수 있습니다

In [264]:
my_dict.pop('melon', 0)

0

### `.update()`

- 이미 존재하는 key가 있으면 값을 제공하는 key, value로 덮어씁니다. 
- 없다면 새로운 key-value pair를 추가합니다

In [265]:
# update를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

In [266]:
my_dict.update(apple='사과아')
print(my_dict)

{'apple': '사과아', 'banana': '바나나', 'melon': '멜론'}

In [267]:
my_dict.update(peach='복숭아')
print(my_dict)

{'apple': '사과아', 'banana': '바나나', 'melon': '멜론', 'peach': '복숭아'}

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [268]:
# []를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

In [269]:
my_dict['pineapple']

KeyError: 'pineapple'

In [271]:
print(my_dict.get('pineapple'))
print(my_dict.get('apple'))
print(my_dict.get('pineapple',0))

None
사과
0

In [ ]:
# get을 사용해봅시다.

## 4.2 dictionary comprehension

- dictionary도 comprehension을 활용하여 만들 수 있습니다. 

- `{key:value for 요소 in sequnce if 조건식}`

In [273]:
i = i+1
x = x*2 - 1
c = (a+b) * (a-b)  # 우선순위가 빠른건 붙여쓰는게 국룰..!?

TypeError: can only concatenate str (not "int") to str

In [ ]:
# dictionary comprehension

In [272]:
cubic = {x: x**3 for x in range(1,8)}
print(cubic)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343}

### dictionary comprehension 사용해보기

In [1]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

In [ ]:
# 미세먼지 농도가 80 초과 지역만 뽑아 봅시다.
# 예) {'대전': 82, '중국': 200}

In [315]:
aa = {x: y for x, y in dusts.items() if y>80 }
print(aa)

{'대전': 82, '중국': 200}

In [ ]:
# 미세먼지 농도가 80초과는 나쁨 80이하는 보통으로 하는 value를 가지도록 바꿔봅시다.

In [319]:
aa = {x: '나쁨' if y > 80 else '보통' for x, y in dusts.items()}
print(aa)

# A if 조건 else B

{'서울': '보통', '대전': '나쁨', '구미': '보통', '광주': '보통', '중국': '나쁨'}

In [ ]:
# elif 도 사용할 수 있습니다.

In [3]:
translate = {key: '매우나쁨' if value > 150 else '나쁨' if value > 80 else '보통' if value > 30 else '좋음' for key, value in dusts.items()}
print(translate)

{'서울': '보통', '대전': '나쁨', '구미': '좋음', '광주': '보통', '중국': '매우나쁨'}

# 5. 세트 메소드 활용

## 5.1 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.

In [4]:
# add를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}

In [7]:
fruits.add('포도')
print(fruits)

{'수박', '포도', '바나나', '사과'}

In [9]:
fruits.add('사과')
print(fruits)

{'수박', '포도', '바나나', '사과'}

### `.update(*others)`

여러가지의 값을 추가합니다.

여기서 반드시 iterable한 값을 넣어야합니다.

In [10]:
# update를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}

In [12]:
fruits.update({'토마토','토마토','딸기'},{'포도','레몬'})
print(fruits)

{'포도', '수박', '토마토', '레몬', '딸기', '바나나', '사과'}

In [ ]:
# 만약에 이렇게 한다면..

In [13]:
fruits.update('복숭아','두리안')
print(fruits) # 문자열도 iterable해서 한글자씩 들어가~

{'아', '포도', '수박', '안', '토마토', '리', '두', '레몬', '숭', '복', '딸기', '바나나', '사과'}

In [ ]:
# 하지만 이건 오류가 납니다!

In [14]:
fruits.update(123)
print(fruits)

TypeError: 'int' object is not iterable

### `.remove(elem)`

elem를 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [17]:
# remove를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}

In [18]:
fruits.remove('사과')
print(fruits)

{'수박', '바나나'}

In [19]:
fruits.remove('apple')
print(fruits)

KeyError: 'apple'

### `.discard(elem)`
elem를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [20]:
# discard를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}

In [21]:
fruits.discard('포도')
print(fruits)

{'수박', '바나나', '사과'}

In [22]:
fruits.discard('수박')
print(fruits)

{'바나나', '사과'}

### `.pop()`

임의의 원소를 제거해 반환합니다.

In [34]:
# pop을 사용해봅시다.
fruits = {"사과", "바나나", "수박", "아보카도"}

In [35]:
result = fruits.pop()
print(result)
print(fruits)

수박
{'바나나', '아보카도', '사과'}

##  `.map()`, `.zip()`, `.filter()`

### `.map(function, iterable)`

* Iterable의 모든 원소에 function을 적용한 후 그 결과를 돌려줍니다. 

* 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range

* return은 map_object 형태로 됩니다.

In [36]:
numbers = [1, 2, 3]
# 위의 코드를 문자열 '123'으로 만들어봅시다.

In [49]:
chars = (map(str, numbers))
print(chars)

<map object at 0x00000149459A8888>

In [50]:
word = ','.join(chars)
print(word)
print(type(word))

1,2,3
<class 'str'>

In [ ]:
# list comprehension

In [69]:
word = ''.join([str(number) for number in numbers])
print(word)

123

In [74]:
chars = ['1', '2', '3']
# 위의 코드를 [1, 2, 3]으로 만들어봅시다.

In [72]:
word2 = list(map(int, chars))
print(word2)

[1, 2, 3]

In [77]:
word4 = []
for i in chars:
    word4.append(int(i))
print(word4)

[1, 2, 3]

In [ ]:
# list comprehension

In [75]:
word3 = [int(number2) for number2 in chars]
print(word3)

[1, 2, 3]

* map의 첫번째 인자로 들어가는 function은 사용자 정의 함수도 가능합니다.

In [78]:
# 세제곱의 결과를 나타내는 함수
def cube(n):
    return n**3

In [79]:
numbers = [1,2,3]
result = list(map(cube, numbers))
print(result)

[1, 8, 27]

### `.zip(*iterables)` 

* 복수 iterable한 것들을 모아준다.

* 결과는 튜플의 모음으로 구성된 zip object를 반환한다.

In [83]:
# 예시를 봅시다.
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [ ]:
# dict comprehension + for문으로 한 명씩 순서대로 매칭시켜봅시다.
# 예) {'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

In [85]:
dicc= dict()
for girl in girls:
    for boy in boys:
        dicc[girl] = boy
print(dicc)

{'jane': 'kim', 'iu': 'kim', 'mary': 'kim'}

In [ ]:
# zip을 사용하면 조금 더 편하게 조작할 수 있습니다.

In [88]:
print(dict(zip(girls, boys)))

{'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

In [89]:
{girl : boy for boy in boys for girl in girls}

{'jane': 'kim', 'iu': 'kim', 'mary': 'kim'}

In [92]:
{girl : boy for girl, boy in zip(girls,boys)}

{'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

* 아래와 같이 사용가능하다.

In [95]:
justin = '123'
zzulu = '567'
diccc = dict()
for digit_a, digit_b in zip(justin,zzulu):
    print(digit_a, digit_b)
    diccc[digit_a] = digit_b
print(diccc)

1 5
2 6
3 7
{'1': '5', '2': '6', '3': '7'}

* zip은 반드시 길이가 같을 때 사용해야한다. 길이가 다르면!!!! 가장 짧은 것을 기준으로 구성한다.

In [96]:
num = [1,2,3]
num2 = ['1','2']
list(zip(num, num2))

[(1, '1'), (2, '2')]

* 길이가 긴 것을 맞춰서 할 수도 있지만, 사용할 일이 없다.

In [97]:
from itertools import zip_longest

list(zip_longest(num,num2,fillvalue=0))

[(1, '1'), (2, '2'), (3, 0)]

### `.filter(function, iterable)`

* iterable에서 function의 반환된 결과가 참인 것들만 구성하여 반환한다.

In [ ]:
# 짝수인지 판단하는 함수를 작성해봅시다.

In [98]:
def even(n):
    if n%2 == 0:
        return n

In [ ]:
# filter를 사용해봅시다.

In [100]:
numbers= [1,2,3,4,5,2,2]
list(filter(even, numbers))

[2, 4, 2, 2]

In [ ]:
# 다음의 list comprehension과 동일하다.

In [102]:
result = {number for number in numbers if even(number)}
print(result)

{2, 4}